[Desktop Entry]
Encoding=UTF-8
Name=Bitchcoin
Comment=Bitchcoin P2P Cryptocurrency
Comment[fr]=Bitchcoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Bitchcoin, eşten eşe kriptografik sanal para birimi
Exec=bitchcoin-qt %u
Terminal=false
Type=Application
Icon=bitchcoin128
MimeType=x-scheme-handler/bitchcoin;
Categories=Office;Finance;
