[Desktop Entry]
Encoding=UTF-8
Name=Envycoin
Comment=Envycoin P2P Cryptocurrency
Comment[fr]=Envycoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Envycoin, eşten eşe kriptografik sanal para birimi
Exec=envycoin-qt %u
Terminal=false
Type=Application
Icon=envycoin128
MimeType=x-scheme-handler/envycoin;
Categories=Office;Finance;
